In [57]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from math import sqrt
import numpy as np
import pandas as pd

In [58]:
data = { 'x1': [13,18,17,20,22,21],
        'x2': [9,7,17,11,8,10],
       'y': [20,22,30,27,35,32]}
data = pd.DataFrame(data)
x = data[['x1','x2']]
y = data['y']
data

   x1  x2   y
0  13   9  20
1  18   7  22
2  17  17  30
3  20  11  27
4  22   8  35
5  21  10  32

In [59]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(x),y=y)
prediction = linear_regression.predict(X=pd.DataFrame(x))
print('B intercept : ',linear_regression.intercept_) # 기울기
print('A coef : ',linear_regression.coef_) # 절편
residuals = y - prediction
residuals.describe()

B intercept :  -7.359201773835938
A coef :  [1.5443459  0.62472284]

count    6.000000e+00
mean     2.368476e-15
std      2.622371e+00
min     -3.399667e+00
25%     -1.987805e+00
50%      5.828714e-01
75%      1.415327e+00
max      3.385809e+00
Name: y, dtype: float64

In [60]:
mse = mean_squared_error(y,prediction)
rmse = sqrt(mse)

print("Score : ",linear_regression.score(X=pd.DataFrame(x),y=y))
print('Mean_squared_error = ', mse)
print('RMSE = ', rmse)

Score :  0.796944017668523
Mean_squared_error =  5.730691056910575
RMSE =  2.3938861829482567

In [61]:
#boston dataset 다중회귀
boston_house_prices = datasets.load_boston()
print(boston_house_prices.keys())
print(boston_house_prices.data.shape)
print(boston_house_prices.feature_names)
print(boston_house_prices.DESCR)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']
.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [62]:
x = pd.DataFrame(boston_house_prices.data)
x.tail()
x.columns = boston_house_prices.feature_names # col 값을 feacture name으로 
x['Price'] = boston_house_prices.target # price라는 col을 추가함. target 값으로
y = x.pop('Price') # 종속변수를 생성.
print(y)
x.tail()

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [63]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(x),y=y)
prediction = linear_regression.predict(X=pd.DataFrame(x))
print('B intercept : ',linear_regression.intercept_) # 절편
print('A coef : ',linear_regression.coef_) # 기울기
residuals = y - prediction
residuals.describe()

B intercept :  36.45948838509001
A coef :  [-1.08011358e-01  4.64204584e-02  2.05586264e-02  2.68673382e+00
 -1.77666112e+01  3.80986521e+00  6.92224640e-04 -1.47556685e+00
  3.06049479e-01 -1.23345939e-02 -9.52747232e-01  9.31168327e-03
 -5.24758378e-01]

count    5.060000e+02
mean     4.268873e-15
std      4.683822e+00
min     -1.559447e+01
25%     -2.729716e+00
50%     -5.180489e-01
75%      1.777051e+00
max      2.619927e+01
Name: Price, dtype: float64

In [64]:
mse = mean_squared_error(y,prediction)
print("MSE : ",mse)
rmse = sqrt(mse)
print("RMSE : ",rmse)
print("Score : ",linear_regression.score(X=pd.DataFrame(x),y=y))
print('Mean_squared_error = ', mse)
print('RMSE = ', rmse)

MSE :  21.894831181729206
RMSE :  4.679191295697282
Score :  0.7406426641094094
Mean_squared_error =  21.894831181729206
RMSE =  4.679191295697282

In [65]:
# x변수 2가지와 y(price) 에 대한 다중 선형회귀분석
x = pd.DataFrame(np.c_[x['LSTAT'],x['RM']],columns=['LSTAT','RM'])
y = y

print(x)
print(y)

     LSTAT     RM
0     4.98  6.575
1     9.14  6.421
2     4.03  7.185
3     2.94  6.998
4     5.33  7.147
..     ...    ...
501   9.67  6.593
502   9.08  6.120
503   5.64  6.976
504   6.48  6.794
505   7.88  6.030

[506 rows x 2 columns]
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [66]:
# train , test 나누기.
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.4, random_state = 1 )

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(303, 2)
(203, 2)
(303,)
(203,)

In [76]:
reg_1 = LinearRegression()
reg_1.fit(x_train,y_train)

y_train_predict = reg_1.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train,y_train_predict)))
r2 = r2_score(y_train,y_train_predict)

print("The model performance for training set")
print("-"*30)
print("RMSE is {}".format(rmse))
print('r2 score is {}'.format(r2))
print("\n")

The model performance for training set
------------------------------
RMSE is 5.262277894319472
r2 score is 0.6539897471220519